<!DOCTYPE html>
<html lang="en">
<head>
  <title>YelpDoc</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <!--
  <link rel="stylesheet" href="/assets/stylesheets/header_styles.css">
  <link rel="stylesheet" href="/assets/stylesheets/content_styles.css">
-->
  <!-- just in case -->
  <%= stylesheet_link_tag    'header_styles', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'content_styles', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap-docs', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'prettify', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'jquery-1.10.2.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'modernizr.custom', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'page-transitions', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.scrollTo-1.4.3.1-min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.parallax.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'easing.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.svg', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.svganim', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.bxslider.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'masonry.pkgd.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'startup-kit', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
  <style>
  		body {
  			padding-top: 0;
  		}
  </style>
</head>
<body>
	<nav class="dockbar navbar-fixed-top" id="header-dockbar">
      <menu class="main-menu">
        <div class="container">
          <div class="row">
            <a href="#" class="man-brand col-sm-3">
              <img src="/assets/images/doctor.gif">
              <span class="logotype">Yelp</span>
              <span class="doc-title">Doc</span>
            </a>
            <button id="open-close-menu" class="menu-btn btn-inverse"><span class="fui-list"></span>
            </button>
            <dl class="col-sm-8" style="color:white;">
              <dd><a class="active"></a>
              </dd>
              <dd>Developed by Leoncio Perez</dd>
              <dd>   |     </dd>
              <dd>For: BEWD NYC and GA</dd>
            </dl>
          </div>
        </div>
      </menu>
    </nav>
    <div class="page-wrapper">





<%= yield %>







<!--Just in case --><!--
<script src="app/assets/javascripts/jquery-1.10.2.min.js"></script>
<script src="app/assets/javascripts/bootstrap.min.js"></script>
<script src="app/assets/javascripts/modernizr.custom.js"></script>
<script src="app/assets/javascripts/page-transitions.js"></script>
<script src="app/assets/javascripts/jquery.scrollTo-1.4.3.1-min.js"></script>
<script src="app/assets/javascripts/jquery.parallax.min.js"></script>
<script src="app/assets/javascripts/easing.min.js"></script>
<script src="app/assets/javascripts/jquery.svg.js"></script>
<script src="app/assets/javascripts/jquery.svganim.js"></script>
<script src="app/assets/javascripts/jquery.bxslider.min.js"></script>
<script src="app/assets/javascripts/masonry.pkgd.min.js"></script>
<script src="app/assets/javascripts/startup-kit.js"></script>
-->
</body>
</html>
