      <header class="header-6">
        <div class="container">
          <div class="row">
            <div class="navbar col-sm-12" role="navigation">
              <div class="navbar-header">
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="header-6-sub">
        <div class="background">&nbsp;</div>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <h3>Weclome to YelpDoc!</h3>
              <div class="row">
                <p class="lead col-sm-10 col-sm-offset-1">
                  Here you can search for Doctors in your area! YelpDoc is powered by Yelp and his holiness: Google.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="signup-form">
                <form>
                  <div class="clearfix">
                    <!-- just in case 
                    <input type="text" class="form-control" placeholder="Specialty">
                    <input type="text" class="form-control" placeholder="Location">
                    <input type="text" class="form-control" placeholder="Distance">
                    
                    <button type="button" class="btn btn-primary">Go!</button>
                    -->
                    <%= form_tag do %>

                    <%= label_tag :category_filter %>
                    <%= text_field_tag :category_filter, nil, :placeholder => "Specialty", :class => "form-control" %>
                    <%= label_tag :location %>
                    <%= text_field_tag :location, nil, :placeholder => "Location", :class => "form-control" %>
                    <%= label_tag :radius_filter %>
                    <%= number_field_tag :radius_filter, nil, :placeholder => "Distance in miles", :class => "form-control" %>
                    <%= submit_tag %>

                    <% end %>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>