<!DOCTYPE html>
<html lang="en">
<head>
  <title>YelpDoc</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <%= stylesheet_link_tag    'header_styles', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['AIzaSyB3maTmoIbb3PDqXd7nJtYQ-XpbLSU0TaM']}&sensor=false" %>
  <%= javascript_include_tag 'jquery-1.10.2.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'modernizr.custom', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'page-transitions', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.scrollTo-1.4.3.1-min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.parallax.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'easing.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.svg', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.svganim', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery.bxslider.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'masonry.pkgd.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'startup-kit', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
  <style>
  		body {
  			padding-top: 0;
  		}
  </style>
</head>
<body>
	<nav class="dockbar navbar-fixed-top" id="header-dockbar">
      <menu class="main-menu">
        <div class="container">
          <div class="row">
            <a href="#" class="man-brand col-sm-3">
              <%= image_tag "doctor.png", size: "50x20" %>
              <span class="logotype">Yelp</span>
              <span class="doc-title">Doc</span>
            </a>
            <dl class="col-sm-8" style="color:white;">
              <dd><a class="active"></a>
              </dd>
              <dd>Developed by Leoncio Perez</dd>
              <dd>   |     </dd>
              <dd>For: BEWD NYC and GA</dd>
            </dl>
          </div>
        </div>
      </menu>
    </nav>
    <div class="page-wrapper">



<%= yield %>




</body>
</html>
